.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Adjust the background color as needed */
}

.signup-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #a72e5c;
  width: 300px;
  text-align: center;
}

.signup-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #a72e5c; /* Adjust the button color as needed */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #8d1f86; /* Adjust the hover color as needed */
}
